<mat-card class="customClass1">
  <h1 class="customClass2">Add Post</h1>
  <hr>
  <mat-form-field class="example-full-width">
    <mat-label>select the category</mat-label>
    <mat-select class="customClassText" [(value)]="selected">
      <mat-option class="customClassText" value="Piata-crypto">Piata-crypto</mat-option>
      <mat-option class="customClassText" value="Noutati">Noutati</mat-option>
      <mat-option class="customClassText" value="Programare">Programare</mat-option>
    </mat-select>
  </mat-form-field>
  <hr>
  <p>add the post in the category {{selected}}?
    if the post does not match the category it will be blocked</p>
  <hr>


  <mat-form-field class="example-full-width">
      <mat-label>Post title</mat-label>
      <input  name="title" id="title" class="customClassText" matInput placeholder="Ce urmeaza cu bitcon, care va fi pretul la sfarsitul anului??!" >
    </mat-form-field>
  <hr>

    <mat-form-field class="example-full-width">
      <mat-label>Post content</mat-label>
      <textarea name="content" id="content" class="customClassText"  rows="10" matInput placeholder="Ce urmeaza cu bitcon, care va fi pretul la sfarsitul anului??!"></textarea>
    </mat-form-field>
  <hr>
  <p>Select picture maxim 5 picture</p>
  <div class="image-upload">

    <div >
      <mat-grid-list class="colorGrid" cols="6" rowHeight="1:1">
        <mat-grid-tile  class="colorr" *ngFor="let content of imageSrca">
          <mat-card class="mat-card1 example-card1">

            <img  class="imgg" [src]="content.content" style="width:100px;height:100px"/>
            <mat-card-content>
              <button class="middle1" mat-raised-button color="primary" (click)="deletSelectIMG(imageSrca.indexOf(content))">Delete</button>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile class="pointerC">
          <div class="upload-btn-wrapper pointerC">
            <button class="button1 upload-btn-wrapper"><span class="sizeC material-icons">
get_app
</span></button>
            <input type="file" name="imageUrl" accept="image/*" multiple (change)="handleInputChange($event)"  />
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <hr>
  <p>select Themes </p>

  <button mat-raised-button class="colorB " (click)="finishAddPost()" >Add Post</button>
</mat-card>
