<mat-tab-group backgroundColor="" mat-align-tabs="center">
  <mat-tab label="Top 10 posts"><app-label-top10-posts></app-label-top10-posts></mat-tab>
  <mat-tab label="top 10 Categories"><app-label-top10-categories></app-label-top10-categories></mat-tab>
  <mat-tab label="Top 10 authors"><app-label-top10authors></app-label-top10authors></mat-tab>
  <mat-tab label="Recommendation"><app-label-recommendationa></app-label-recommendationa></mat-tab>
  <mat-tab label="The latest posts"><app-label-the-latest-posts></app-label-the-latest-posts></mat-tab>
  <mat-tab label="New authors"><app-label-new-authors></app-label-new-authors></mat-tab>
  <mat-tab label="Help?"><app-label-help></app-label-help></mat-tab>
</mat-tab-group>
<hr class="c1">
