<!--<p>my-settings works!</p>-->
<!--<form [formGroup]="mySettings" (ngSubmit)="onSubmit()">-->

<!--<input class="example-full-width" mat-raised-button  type="file" id="FUImage" name="FUImage" accept=".png, .jpg, .jpeg" (change)="handleFileInput1($event.target.files)">-->
<!--<br>-->
<!--<div class="form-group">-->
<!--  <mat-label>Name</mat-label>-->
<!--  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />-->
<!--  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">-->
<!--    <div *ngIf="f.firstName.errors.required"><p>enter the Fristname</p></div>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--<div class="form-group">-->
<!--  <mat-label>Surname</mat-label>-->
<!--  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />-->
<!--  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">-->
<!--    <div *ngIf="f.lastName.errors.required"><p>enter the Lastname</p></div>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--</form>-->
