<mat-card class="customClass1">
  <h1 class="customClass2">Login</h1>
  <hr>
  <div class=" customClass2">
    <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required"><p>Email is required</p></div>
      </div>
      </div>
    <br>
      <div class="form-group">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required"><p>Password is required</p></div>
      </div>
      </div>
    <br>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </button>
    </form>
    <mat-spinner *ngIf="loading" class="spiner-model" ></mat-spinner>

  </div>

</mat-card>
